{#
 * Copyright (C) 2014, Champs Libres Cooperative SCRLFS, <http://www.champs-libres.coop>
 *
 * This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}
<h2>{{ 'Person search results'|trans }}</h2>

<p>{{ '%total% persons matching the search %pattern%'|transchoice( total, {'%pattern%': pattern, '%total%' : total}) }}</p>

<p>{{ 'Results %start%-%end% of %total%'|trans({ '%start%' : start, '%end%': start + persons|length, '%total%' : total } ) }}</p>

{% if persons|length > 0 %}

    <table>
        <thead>
            <tr>
                <th class="chill-red">{% trans %}Name{% endtrans %}</th>
                <th class="chill-green">{% trans %}Date of birth{% endtrans %}</th>
                <th class="chill-orange">{% trans %}Nationality{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for person in persons %}
                <tr>
                    <td>
                        <a href="{{ path('chill_person_view', {person_id : person.getId}) }}">
                            {{person.firstName}} {{person.lastName}}
                            {% spaceless %}
                                {% if person.isOpen == false %}
                                    <i class="icon-lock"></i>
                                {% endif %}
                            {% endspaceless %}
                        </a>
                    </td>
                    <td>
                        {% if person.birthdate is not null %}{{person.birthdate|localizeddate('long', 'none', app.request.locale) }}{% else %}{{  'Unknown date of birth'|trans }}{% endif %}
                    </td>
                    <td>
                        {% if person.nationality is not null %}
                            {{person.nationality.name | localize_translatable_string }}
                        {% else %}
                            {{ 'Without nationality'|trans }}
                        {% endif %}
                    </td>
                </tr>         
            {% endfor %}
        </tbody>
    </table>
            
            <ul class="record_actions">
                <li>
                    <a href="{{ path('chill_person_new') }}" class="sc-button bt-create">
                        <i class="fa fa-plus"></i>
                        {{ 'Add a person'|trans }}
                    </a>
                </li>
                {% if preview == true and persons|length < total %}
                <li>
                    <a href="{{ path('chill_main_search', { "name": search_name, "q" : pattern }) }}" class="sc-button">
                        {{ 'See all results'|trans }}
                    </a>
                </li>
                {% endif %}
            </ul>
                        
{% endif %}

{% if preview == false %}
{{ chill_pagination(paginator) }}
{% endif %}

