<h3 class="single-line">
    {{ period.closingDate|localizeddate('long', 'none')  }}
    <span class="person"> /
        {{ 'Closing the accompanying period' | trans }}
    <span>
    <span class="chill-red">
        <i class="fa fa-folder"></i>
    </span>
</h3> 
