<h3 class="single-line">
    {{ period.openingDate|localizeddate('long', 'none')  }}
    <span class="person"> /
        {{ 'Opening the accompanying period' | trans }}
    </span>
    <span class="chill-green">
        <i class="fa fa-folder-open"></i>
    </span>
</h3> 
