<div class="grid-8 centered" style="text-align:center; margin-top: 1.5em;">
    <a href="{{ path('chill_person_new') }}">
        <div class="grid-3 sc-button blue" style="float: inherit;">
            {{ 'Add a person'|trans }}
        </div>
    </a>
</div>
            
