{% extends "ChillPersonBundle::layout.html.twig"  %}

{% set activeRouteKey = null %}

{# define the title of the page #}
{% if form.vars.action == 'update' %}
    {% set page_title = 'Update accompanying period'|trans %}
{% elseif form.vars.action == 'open' %}
    {% set page_title = 'Update accompanying period'|trans %}
{% elseif form.vars.action == 'close' %}
    {% set page_title = 'Update accompanying period'|trans %}
{% elseif form.vars.action == 'create' %}
    {% set page_title = 'Create an accompanying period'|trans %}
{% else %}
    {% set page_title = '' %}
{% endif %}

{% block title page_title  %}


{% block personcontent %}
    
<h1>{{ page_title }}</h1>

{{ form_start(form) }}

<p>
{{ 'Last opening since %last_opening%'|trans(
      { '%last_opening%' : accompanying_period.openingDate|localizeddate('long', 'none', app.request.locale) }) }}
</p>
      
{% if form.openingDate is defined %}
    {{ form_row(form.openingDate, { 'label': 'Opening date'} ) }} 
{% endif %}
{% if form.closingDate is defined %}
    {{ form_row(form.closingDate, {'label' : 'Closing date'} ) }}
{% endif %}

{% if form.closingMotive is defined %}  
    {{ form_row(form.closingMotive, {'label' : 'Closing motive'} ) }}
{% endif %}
    
{{ form_row(form.remark, {'label' : 'Remark' } ) }}

{{ form_rest(form) }}

<ul class="record_actions">
    <li>
    <a href="{{ path('chill_person_accompanying_period_list', { 'person_id' : person.id } ) }}" class="sc-button bt-cancel">{{ 'Back to the list'|trans }}</a>
    </li>
    <li>
    <button type="submit" class="sc-button bt-update">{{ 'Submit'|trans }}</button>
    </li>
</ul>

{{ form_end(form) }}


{% endblock personcontent %}
