{% extends "ChillPersonBundle::layout.html.twig"  %}

{% set activeRouteKey = 'chill_person_accompanying_period_list' %}

{% block title 'Re-Open a period'|trans  %}

{% block personcontent %}
    
    <h1>{{ 'Re-Open a period'|trans }}</h1>
    
    <p class="message-confirm">{{ 'Are you sure you want to re-open this period ?'|trans }}<p>

    <ul class="record_actions">
        <li>
            <a href="{{ path('chill_person_accompanying_period_list', { 'person_id' : person.id } ) }}" class="sc-button bt-cancel">
                {{ 'Cancel'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('chill_person_accompanying_period_re_open', {'confirm' : true, 'person_id' : person.id, 'period_id' : period.id } ) }}" class="sc-button bt-create">
                {{'Confirm'|trans }}
            </a>
        </li>
    </ul>
    
   
{% endblock personcontent %}
