
@import '../../../../main/Resources/public/sass/config/colors';

div#header-person-name {
    background: none repeat scroll 0 0 $chill-green-dark;
    color: #FFF;
    padding-top: 1em;
    padding-bottom: 1em;
}

div#header-person-details {
    background: none repeat scroll 0 0 $chill-green;
    color: #FFF;
    padding-top: 1em;
    padding-bottom: 1em;
}

div#person_details_container {
	padding-top: 20px;
	padding-bottom: 20px;
}

div.person-view {
    figure.person-details {
            h2 {
                font-family: 'Open Sans';
                font-weight: 600;
                margin-bottom: 0.3em;
                font-variant: small-caps;
            }

            dl {
                    margin-top: 0.3em;
            }

            dt {
            font-family: 'Open Sans';
            font-weight: 600;
            }

            dd {
                    margin-left: 0;
            }

            a.sc-button {
                    background-color: $black;
                    padding-top: 0.2em;
                    padding-bottom: 0.2em;
            }
    }

    /* custom fields on the home page */
    div.custom-fields {
        figure.person-details {
            display: flex;
            flex-flow: row wrap;
            
            div.cf_title_box:nth-child(4n+1) h2 {
                @extend .chill-red;
            }
            
            div.cf_title_box:nth-child(4n+2) h2 {
                @extend .chill-green;
            }
            
            div.cf_title_box:nth-child(4n+3) h2 {
                @extend .chill-orange;
            }
            
            div.cf_title_box:nth-child(4n+4) h2 {
                @extend .chill-blue;
            }
            
            div.cf_title_box:nth-child(2n+1){
                width: 50%;
                margin-right: 40px;
            }
            
            iv.cf_title_box:nth-child(2n+2) {
                width: calc(50% - 40px);
            }
            
        }
        
         
    }

}
